body {
    margin-left: 0;
}

li {
    margin-right: 2em;
    list-style-type: none;
    margin-top: 1em;
}

li a {
    color: white;
}

#form1{
    //height: 100vh;
}

#containerDeco {
    height: fit-content;
}

#navbarStyle {
    background-color: #1AC073;
    text-align: center;
    align-items: center;
}

#brandDeco {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: white;
    font-weight: bolder;
}

#footerDeco {
    background-color: #1AC073;
}

#footerPara {
    text-align: center;
}

hr {
    width: 90%;
    align-items: center;
}

#navDeco {
    align-items: center;
}


.auto-style3 {
    height: 321px;
    width: 1033px;
    margin-left: 183px;
    margin-bottom: 0px;
}

.auto-style4 {
    left: 0px;
    top: 0px;
}

.auto-style5 {
    align-items: center;
    width: 397px;
    height: 605px;
    margin-right: 647px;
}

.auto-style6 {
    margin-top: 0;
}
        